.container {
  display: flex;
}

.container .item {
  width: 50px;
  height: 50px;
  background: lightgray;
  border: 1px solid black;
  /* margin: 20px; */
}



/* Start Here */

/* When you display: flex; your items will automatically go horizontal.  Keep your items this way unless the directions specify otherwise. */

/* Center all the items in container 1*/
.row-1 {
  display: flex;
  justify-content: center;
}


/* Keep all the items stacked vertically. Center all the items in container 2.  */
.row-2 {
 
}

/* Reverse the order of the items.  Space each item evenly between themselves. */
.row-3 {

}

/* Give container 4 a height of 300px. Space each item so that there is equal distance around them.  Move the boxes to the bottom of your 300px height.  */
.row-4 {

}

/* Finally, make the first row's boxes gray, second row teal, third row orange, fourth row purple */
.row-1 .item {

}

